body{
    color:aquamarine;
    background-color: darkblue;
}
p{
    color:cyan;
    text-align: center;
}
span {
    color:red;
    text-align: center;
    
}
p:hover{
    
    color :blue;
    background-color: black;
    border-color : red;
    border-width: 10px;
    border-radius: 10px;
    border-bottom-style:solid;
}