body{
    color:aquamarine;
    background-color: darkblue;
}

span {
    color: red;
    text-align: center;
}
div:hover{
    
    color :blue;
    background-color: black;
    border-color : red;
    border-width: 10px;
    border-radius: 10px;
    border-bottom-style:solid;
}