html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  font-family: Quicksend;
  font-weight: 700;
}
nav a {
  color: white;
}
nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid black;
  color: grey;
}
nav a:active {
  border-bottom: 4px solid #61ff58;
}
.navbar {
  background: black;
}
.About {
  background-image: url("sketch.png");
  max-width: 100%;
  height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about-me {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container {
  background-image: url("pc.png");
  max-width: 100%;
  height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.mini-profile {
  padding: 4em;
  background-color: rgba(255, 255, 255, 0.5);
}
.holder {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.animation-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animation-container span {
  text-transform: uppercase;
  display: block;
}
.first {
  color: black;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: whitesmoke;
  position: relative;
  animation: text 4s 1;
}
.second {
  color: #61ff58;
  font-size: 30px;


}
@keyframes text {
  0% {
    color: grey;
    margin-bottom: -40px;
  
  }
  30% {
    color: grey;
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    color: black;
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
/* .smoke-screen{
  display:none;
}
.animation-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-size: 40px;
}
.welcome-section{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:black;
  overflow: hidden;
}
.content-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fly-in-text{
  list-style: none;
}
.fly-in-text li{
  display:inline-block;
  margin-right: 20px;
  font-size: 5em;
  color:white;
  opacity: 1;
  transition: all 3s ease;
}
.enter-button{
  background-color:black;
  display: block;
  text-align: center;
  font-size:2em;
  text-decoration: none;
  color:#990000;
  opacity: 1;
  margin-top:30px;
  transition:all 1s ease 3s;
}
.enter-button:hover{
  text-decoration: none;
}
.content-hidden .fly-in-text li {opacity: 0;}
.content-hidden .fly-in-text li:nth-child(1) {transform: translate3d(-60px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(2) {transform: translate3d(-30px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(3) {transform: translate3d(0px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(4) {transform: translate3d(30px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(5) {transform: translate3d(60px, 0, 0);}
.content-hidden .enter-button{opacity: 0; transform: translate3d(0, -30px, 0);} */
